@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  li {
    @apply p-4;
  }
}
.pacman {
  display: block;
  top: 100px;
  left: 600px;
}
