@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400&family=Montserrat:wght@400;500;700&display=swap");

:root {

}

@layer base {
    h1{
        @apply text-3xl font-bold 
    }
    li{
        @apply p-4
    }
}
.search {
    border-radius: 24px;
    border: 1px solid #a9a9a9;
    font-size: 14px;
    padding: 4px 8px;
  }
  .search-button {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.1s ease-in;
  }
  
  .search-button:hover,
  .search-button:focus {
    background-color: #dd052b;
  }
  
  .search-form {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }

  